.box {
  color: #fff;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  margin: 20px;
}

#room-container::-webkit-scrollbar {
  display: none;
}

.custom-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 130px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;

  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}


/* 2 */
.btn-2 {
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;

}